body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

html {
    scroll-behavior: smooth;
}

.centrera {
    display: flex;
    justify-content: center;
}

.form {
    padding: 10px;
    border-radius: 3%;
}

.pad {
    padding: 10px;

}

td {
    margin: 20px;
}
