body {
    font-family: 'Montserrat', sans-serif;
    background-color: azure;
}

html {
    scroll-behavior: smooth;
}

.centrera {
    display: flex;
    justify-content: center;
}

.form {
    padding: 10px;
    border-radius: 3%;
}
