body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

html {
    scroll-behavior: smooth;
}

.centrera {
    display: flex;
    justify-content: center;
}

.form {
    padding: 10px;
    border-radius: 3%;
}

.pad {
    padding: 20px;
    margin: 10px;
}

th, td {
    padding-left: 25px;
}

.pricehistory {
    width: 1000px;
    height: 600px;
    margin-bottom: 25px;
}
